@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Nexa";
    src: url("assets/fonts/Nexa/Nexa-Book.ttf") format("truetype");
  }

  @font-face {
    font-family: "Nexa-Regular";
    src: url("assets/fonts/Nexa/NexaRegular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Nexa-Bold";
    src: url("assets/fonts/Nexa/Nexa-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Nexa-Black";
    src: url("assets/fonts/Nexa/NexaBlack.ttf") format("truetype");
  }

  :root {
    --primary-100: 246 245 255;
    --primary-200: 215 212 245;
    --primary-300: 185 182 236;
    --primary-400: 130 123 221;
    --primary-500: 90 81 203;
    --primary-600: 64 55 179;
    --primary-700: 53 45 148;
    --primary-800: 33 22 143;
    --primary-900: 14 0 135;

    --secondary-100: 245 248 255;
    --secondary-200: 222 232 255;
    --secondary-300: 198 215 255;
    --secondary-400: 149 180 255;
    --secondary-500: 111 151 255;
    --secondary-600: 78 123 242;
    --secondary-700: 55 101 266;
    --secondary-800: 39 84 206;
    --secondary-900: 30 71 184;

    --nexa: "Nexa";
    --nexaRegular: "Nexa-Regular";
    --nexaBold: "Nexa-Bold";
    --nexaBlack: "Nexa-Black";

    --nexaWeight: "400";
    --nexaBoldWeight: "400";
    --nexaBlackWeight: "400";
  }

  h6 {
    @apply font-nexaBold font-bold;
  }

  h1 {
    @apply font-nexaBold font-bold text-3xl;
  }
  *::-webkit-scrollbar {
    @apply bg-transparent w-2 h-2;
  }
  *::-webkit-scrollbar-thumb {
    @apply bg-secondary-200 rounded-lg;
  }
  *::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-400;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--secondary-200)) transparent;
  }
}




@media print {
  body {
    background: white;
  }

  /* Hide buttons, filters, actions */
  button,
  .no-print {
    display: none !important;
  }

  /* Ensure table fits page */
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #000;
    padding: 8px;
    font-size: 12px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}
